.App {
    font-family: sans-serif;
    text-align: center;
    height: 80vh;
  }
  
  .resize-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .child-container {
    position: relative;
    color: black;
  }
  
  .child-container.border {
    border: 1px solid #00d19c;
  }
  
  .size-auto {
    position: absolute;
    top: 15px;
    bottom: 15px;
    right: 15px;
    left: 15px;
    display: flex; /* To center text vertically and horizontally */
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    transform-origin: center center; /* Set the transform origin to the center */
  }
  